{% extends 'base.html'%}
{%block head%}
{{super()}}
<style>
#main{
    margin-bottom: 300px;
}
</style>
{%endblock head%}
{%block mytitle%}Personal Center{%endblock mytitle%}

{%block page_content%}
<div class='page-header'>
    <h1>Personal Center</h1>
</div>
<div class='col-sm-3 col-md-3' >
    <ul class='nav nav-pills nav-stacked'>
        <li role="presentation" {%if request.path[:11] == '/personal_c' %}class='active'{%endif%}><a href="{{url_for('main.personal_center')}}">Trial lesson record</a></li>
        <li role="presentation" {%if request.path[:10] == '/student/p'%}class='active'{%endif%}><a href="{{url_for('student.personal_info')}}">Personal Information</a></li>
        <li role="presentation"><a href="#">Book a lesson</a></li>
    </ul>
</div>
{%block main%}
<div class='col-sm-8 col-md-8' id='main'>
    <div class='panel panel-default'>
        <table class='table'>
            <tr>
                <th>Teacher</th>
                <th>Time</th>
                <th>Status</th>
                <th>Teacher's comment</th>
                <th>Mark</th>
            </tr>
            <tr>
                <td><a href='#'>Monica</a></td>
                <td>2019-7-28</td>
                <td>Completed</td>
                <td>Nam did a good job.His knowledge about Chinese culture is so impressive.</td>
                <td>4</td>
            </tr>
            

        </table>
    </div>
</div>
{%endblock main%}
{%endblock page_content%}