{% extends 'base.html'%}
{%block head%}
{{super()}}
<style>
#main{
    margin-bottom: 300px;
}
</style>
{%endblock head%}
{%block mytitle%}Personal Center{%endblock mytitle%}

{%block page_content%}
<div class='page-header'>
    <h1>Personal Center</h1>
</div>
<div class='col-sm-3 col-md-3' >
    <ul class='nav nav-pills nav-stacked'>
        <li role="presentation" {%if request.path[:11] == '/personal_c' %}class='active'{%endif%}><a href="{{url_for('main.personal_center')}}">My Lessons</a></li>
        <li role="presentation"><a href="#">Book a lesson</a></li>
        <li role="presentation" {%if request.path[:10] == '/student/p'%}class='active'{%endif%}><a href="{{url_for('student.personal_info')}}">Personal Information</a></li>    
    </ul>
</div>
{%block main%}
<div class='col-sm-8 col-md-8' id='main'>
    <div class='panel panel-default'>
        <table class='table'>
            <tr>
                <th>Teacher</th>
                <th>Time</th>
                <th>Status</th>
                <th>Teacher's comment</th>
            </tr>
            {%for lesson in lessons%}
            <tr>
                <td><a href='#'>{{lesson.teacher.name}}</a></td>
                <td>{{"%s-%s-%s %s:00"|format(lesson.localtime.year,lesson.localtime.month,lesson.localtime.day,lesson.localtime.hour)}}</td>
                <td>{{lesson.status}}</td>
                <td>{%if lesson.status == 'Not started'%}<a>[Cancel]</a>{%endif%}{{lesson.t_comment}}</td>
            </tr>
            {%endfor%}
            

        </table>
    </div>
</div>
{%endblock main%}
{%endblock page_content%}