{% extends 'base.html'%}
{%block head%}
{{super()}}
<style>
#main{
    margin-bottom: 300px;
}
</style>
{%endblock head%}
{%block mytitle%}Personal Center{%endblock mytitle%}

{%block page_content%}
<div class='page-header'>
    <h1>Personal Center</h1>
</div>
<div class='col-sm-3 col-md-3' >
    <ul class='nav nav-pills nav-stacked'>
        <li role="presentation" {%if request.path[:11] == '/personal_c' %}class="active"{%endif%}><a href="{{url_for('main.personal_center')}}">Trial lesson record</a></li>
        <li role="presentation" {%if request.path[:12] == '/visitor/per' %}class='active'{%endif%}><a href="{{url_for('visitor.personal_info')}}">Personal Information</a></li>

    </ul>
</div>
{%block main%}
<div class='col-sm-8 col-md-8' id='main'>
    <div class='panel panel-default'>
        <div class='panel-body'>
            <h3>You haven't taken a trial lesson yet.</h3>
            <h4><a href="#">Book a trial lesson</a></h4>

        </div>
    </div>
</div>
{%endblock main%}
{%endblock page_content%}