{%extends 'base.html'%}
{%block mytitle%}Book a Trial{%endblock mytitle%}
{%block head%}
{{super()}}

<style>

.table{
    width:729.6px;
}
h3{
    margin-bottom:20px;
}

.available{
    background-color:#5cb85c;
}

.booked{
    background-color:#d9534f;
}

.rest{
    background-color: white;
}

.selected{
    background-color: #777777;
}

.legend{
    display:inline-block;
    width:40px;
    height:20px;
    border:1px solid #efefef;
}

.legend-info{
    font-size: 16px;
}
</style>
{%endblock head%}

{%block page_content%}
<div class='page-header'>
    <h1>Book a trial</h1>

</div>
<div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <img src="{{url_for('static',filename='img/teacher3.jpg')}}" >
          <div class="caption">
            <h3 class='text-center'>Stacey</h3>
          </div>
        </div>
</div>
<div class='col-sm-6 col-md-8'>
    <h3 class='text-center'>August , 2019</h3>
    <h4>
        <span class='legend available'></span>
        <span class='legend-info'>available</span>
        <span class='legend booked'></span>
        <span class='legend-info'>booked</span>
        <span class='legend rest'></span>
        <span class='legend-info'>rest or past</span>
        <span class='legend selected'></span>
        <span class='legend-info'>selected</span>
    
    </h4>
    <table class='table'>
        <tr>
            <th class='col-md-2 col-sm-1 col-xs-2 text-right'></th>
            <th class='col-md-1 col-sm-1 col-xs-1 text-right'>Sunday</th>
            <th class='col-md-1 col-sm-1 col-xs-1 text-right'>Monday</th>
            <th class='col-md-1 col-sm-1 col-xs-1 text-right'>Tuesday</th>
            <th class='col-md-1 col-sm-1 col-xs-1 text-right'>Wednesday</th>
            <th class='col-md-1 col-sm-1 col-xs-1 text-center'>Thursday</th>
            <th class='col-md-1 col-sm-1 col-xs-1 text-center'>Friday</th>
            <th class='col-md-1 col-sm-1 col-xs-1 text-center'>Saturday</th>
        </tr>
        <tr>
            
            <th class='col-md-2 col-sm-2 col-xs-2 text-right'></th>
            {% for date in only_dates%}
            <th class='col-md-1 col-sm-1 col-xs-1 text-right'>{%if date != 0%}{{date}}{%endif%}</th>
            {%endfor%}
        </tr>
    </table>
    <table class='table table-bordered'>
        {% for hour in range(24)%}
        <tr>
            
            <td class='col-md-2 col-sm-2 col-xs-2 text-center'>{{hour}}:00-{{hour}}:50</td>
            {% for date in this_week%}
            <td {% if '%s-%s'|format(date,hour) in new_worktime_list %} class='col-md-1 col-sm-1 col-xs-1 available'{%else%}class='col-md-1 col-sm-1 col-xs-1'{%endif%} id="{{'%s-%s'|format(date,hour)}}"></td>
            {% endfor %}
        </tr>
        {%endfor%}

    </table>
    <div class="form-group">
        <label for="message" class="control-label">What do you want to tell your teacher?</label>
        <textarea class='form-control' name="message" id="message" rows="5" placeholder="A message about your level and your learning goal is welcome"></textarea>
    </div>
    <div class='form-group text-right'>
    <button class='btn btn-default' type='button'>Submit</button>
    </div>
    

</div>
{%endblock page_content%}

{%block scripts%}
{{super()}}

<script>
$(function(){
  
})
</script>
{%endblock scripts%}