{% extends 'base.html'%}
{%block head%}
{{super()}}
<style>
#main{
    margin-bottom: 300px;
}
</style>
{%endblock head%}
{%block mytitle%}Personal Center{%endblock mytitle%}

{%block page_content%}
<div class='page-header'>
    <h1>Personal Center</h1>
</div>
<div class='col-sm-3 col-md-3' >
    <ul class='nav nav-pills nav-stacked'>
        <li role="presentation" {%if request.path[:11] == '/personal_c' %}class='active'{%endif%}><a href="{{url_for('main.personal_center')}}">My Lessons</a></li>
        <li role="presentation" {%if request.path[:10] == '/teacher/m'%}class='active'{%endif%}><a href="{{url_for('teacher.my_students')}}">My Students</a></li>
        <li role="presentation" {%if request.path[:10] == '/teacher/p'%}class='active'{%endif%}><a href="{{url_for('teacher.personal_info')}}">Personal Information</a></li>    
    </ul>
</div>
{%block main%}
<div class='col-sm-8 col-md-8' id='main'>
    <div class='panel panel-default'>
        <table class='table'>
            <tr>
                <th>Student</th>
                <th>Time</th>
                <th>Status</th>
                <th>Lesson Type</th>
                <th>Student's Comment</th>
            </tr>
            {%for lesson in lesson_list%}
            <tr>
                <td><a href='#'>{{lesson.student.username}}</a></td>
                <td>{{"%s-%s-%s %s:00"|format(lesson.localtime.year,lesson.localtime.month,lesson.localtime.day,lesson.localtime.hour)}}</td>
                <td>{% if moment().valueOf()>moment(lesson.time).valueOf()%}<a>Record</a>{%else%}Not started{%endif%}</td>
                <td>{{lesson.lesson_type}}</td>
                <td></td>
            </tr>
            {%endfor%}

        </table>
    </div>
</div>
{%endblock main%}
{%endblock page_content%}

{%block scripts%}
{{super()}}
{{moment.include_moment()}}
{%endblock scripts%}