{% extends 'teacher/homepage.html'%}

{%block head%}
{{super()}}
<style>
footer{
    margin-top: 200px;
}

ul.nav-tabs{
    margin-bottom: 20px;
}

#user-image{
    width:200px;
    height:200px;

}
</style>
{%endblock head%}

{%block mytitle%}My Students{%endblock mytitle%}

{%block main%}


<div class='col-sm-8 col-md-8' id='main'>
{%if username%}

<ul class="nav nav-tabs">
        <li role="presentation" {%if tab == 'lessons'%}class="active"{%endif%}><a href="{{url_for('teacher.my_students',tab='lessons',username=username)}}">Lessons</a></li>
        <li role="presentation"{%if tab == 'profile'%}class='active'{%endif%}><a href="{{url_for('teacher.my_students',tab='profile',username=username)}}">Profile</a></li>
    </ul>

    {%if tab =='lessons'%}
    <div class = 'panel panel-default'>
        <table class='table'>
            <tr>
                <th>Student</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
            {%for lesson in lessons%}
            <tr>
                <td>{{student.username}}</td>
                <td>{{lesson.teacher.name}}</td>
                <td>{{"%s-%s-%s %s:00"|format(lesson.localtime.year,lesson.localtime.month,lesson.localtime.day,lesson.localtime.hour)}}</td>
                <td>{%if lesson.status == 'Not started'%}{%if moment().valueOf()>moment(lesson.time).valueOf()%}<a href="{{url_for('teacher.record_lesson',id=lesson.id)}}">Record</a>{%else%}Not started{%endif%}{%else%}{{lesson.status}}{%endif%}</td>
                <td>{%if lesson.status == 'Complete' or lesson.status == 'Tea Late'%}<a href="{{url_for('teacher.check_detail',id=lesson.id)}}">[Check]</a>{%endif%} {%if current_user.id == lesson.teacher.id%}<a href="{{url_for("teacher.record_lesson",id=lesson.id)}}">[Modify]</a>{%endif%}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    {%elif tab == 'profile'%}
    <div class='panel panel-default'>
        <div class='panel-heading text-center'>
            <strong>基本信息</strong> 
        </div>
        <div class='panel-body'>
            <div class='col-sm-6 col-md-5 col-lg-4'>
            <img {%if student.image %}src="{{url_for('static',filename='media/'+student.image)}}" {%else%}src="{{url_for('static',filename='img/noimage.jpg')}}" {%endif%}class='img-thumbnail' id='user-image'>
            </div><!-- end of image -->
            <div class='col-sm-5 col-md-6 col-lg-7'>
                <table class='table'>
                    <tr>
                        <td><strong>用户名</strong></td>
                        <td>{{student.username}}</td>
                    </tr>
                    <tr>
                        <td><strong>姓名</strong></td>
                        <td>{{student.name}}</td>
                    </tr>
                    <tr>
                        <td><strong>邮箱</strong></td>
                        <td>{{student.email}}</td>
                    </tr>
                    <tr>
                        <td><strong>地址</strong></td>
                        <td>{{student.location}}</td>
                    </tr>
                    <tr>
                        <td><strong>时区</strong></td>
                        <td>{{student.timezone_str}}</td>
                    </tr>
                    <tr>
                        <td><strong>课程类型</strong></td>
                        <td>Regular</td>
                    </tr>
                    <tr>
                        <td><strong>注册时间</strong></td>
                        <td>{{"%s-%s-%s"|format(student.localsince.year,student.localsince.month,student.localsince.day)}}</td>
                    </tr>
                    <tr>
                        <td><strong>最后一次上课</strong></td>
                        <td>2 weeks ago</td>
                    </tr>
                </table>
            </div>
        </div><!-- end of panel body -->
    </div><!-- end of panel -->

    <div class='panel panel-default'>
        <div class='panel-heading text-center'>
            <strong>主管老师的补充信息</strong>
        </div>
        <div class='panel-body'>
            <table class='table'>
                <tr>
                    <td><strong>称呼</strong></td>
                    <td>{{student.student_profile.first().nickname}}</td>
                    <td><strong>性别</strong></td>
                    <td>{{student.student_profile.first().gender}}</td>
                </tr>
                <tr>
                    <td><strong>年龄</strong></td>
                    <td>{{student.student_profile.first().age}}</td>
                    <td><strong>工作情况</strong></td>
                    <td>{{student.student_profile.first().job}}</td>
                </tr>
                <tr>
                    <td><strong>家庭情况</strong></td>
                    <td>{{student.student_profile.first().family}}</td>
                    <td><strong>性格特点</strong></td>
                    <td>{{student.student_profile.first().personality}}</td>
                </tr>
                <tr>
                    <td><strong>兴趣爱好</strong></td>
                    <td>{{student.student_profile.first().hobby}}</td>
                    <td><strong>禁忌话题</strong></td>
                    <td>{{student.student_profile.first().taboo}}</td>
                </tr>
                <tr>
                    <td><strong>学习原因</strong></td>
                    <td>{{student.student_profile.first().reason}}</td>
                    <td><strong>学习目标</strong></td>
                    <td>{{student.student_profile.first().goal}}</td>
                </tr>
                <tr>
                    <td><strong>当前水平</strong></td>
                    <td>{{student.student_profile.first().level}}</td>
                    <td><strong>学习能力</strong></td>
                    <td>{{student.student_profile.first().ability}}</td>
                </tr>
                <tr>
                    <td><strong>是否需要笔记或录音</strong></td>
                    <td>{{student.student_profile.first().notes}}</td>
                    <td><strong>是否需要作业</strong></td>
                    <td>{{student.student_profile.first().homework}}</td>
                </tr>
                <tr>
                    <td><strong>主管老师</strong></td>
                    <td>{{primary_teacher.name}}</td>
                    <td><strong>主管老师电话</strong></td>
                    <td>{{student.student_profile.first().teacher_phone}}</td>
                </tr>

            </table>
        </div>

    </div>
    {%if current_user.id == primary_teacher.id%}
    <div>
        <a class='btn btn-default col-lg-offset-9 col-md-offset-9 col-sm-offset-9 col-xs-offset-9' href="{{url_for('teacher.edit_profile',username=student.username)}}">修改主管学生信息</a>
    </div>
    {%endif%}
    {%endif%}
{%else%}
    <div class='panel panel-default'>
        <table class='table'>
            <tr>
                <th>Student</th>
                <th>Last seen</th>
                <th>Lesson Type</th>
                <th>Class Hours</th>
                <th>Remaining Hours</th>
            </tr>
            {%for student in students%}
            <tr>
                <td><a href="{{url_for('teacher.my_students',tab='lessons',username=student.username)}}">{{student.username}}</a></td>
                <td>{% if student.local_last_seen%}{{"%s-%s-%s %s:00"|format(student.local_last_seen.year,student.local_last_seen.month,student.local_last_seen.day,student.local_last_seen.hour)}}{%else%}--:--{%endif%}</td>
                <td>{{student.lesson_type}}</td>
                <td>{{student.total_finished}}</td>
                <td>{{student.total_left}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    {%endif%}
</div><!-- end of main -->


{%endblock main%}

{%block scripts%}
{{super()}}
{{moment.include_moment()}}
{%endblock scripts%}