{%extends 'moderator/homepage.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{%block head%}
{{super()}}
<style>
    .rest,.selected:hover{
    cursor: pointer;
}

    .rest,.rest-s{
    background-color: white;
}

.selected,.selected-s{
    background-color: #5cb85c;
}
.legend{
    display:inline-block;
    width:40px;
    height:20px;
    border:1px solid #efefef;
}

.legend-info{
    font-size: 16px;
}
</style>
{%endblock head%}

{%block title%}Change Teacher{%endblock title%}

{%block main%}
<div class='col-sm-8 col-md-8' id='main'>
    <div class='panel panel-default'>
        {%if time_type=='1'%}
        <div class='panel-head'>
            <h3 class='text-center'>设置教师休息时间</h3>
        </div>
        <div class='panel-body'>
            {{wtf.quick_form(form)}}
        </div>
        {%elif time_type=='2'%}
        <div class='panel-head'>
            <h3 class='text-center'>设置教师补班时间</h3>
        </div>
        <div class='panel-body'>
            {{wtf.quick_form(form)}}
        </div>
        {%elif time_type=='3'%}
        <div class='panel-head'>
            <h4>&nbsp;下面是{{teacher.name}}老师的工作时间表</h4>
            <h3 class='text-center'>修改教师常规工作时间</h3>
        </div>
        <div class='panel-body'>
            <h4>
                <span class='legend rest-s'></span>
                <span class='legend-info'>休息</span>
                <span class='legend selected-s'></span>
                <span class='legend-info'>工作</span>
            
            </h4>
            <table class='table'>
                <tr>
                    <th class='col-md-2 col-sm-1 col-xs-2 text-right'></th>
                    <th class='col-md-1 col-sm-1 col-xs-1 text-right'>周日</th>
                    <th class='col-md-1 col-sm-1 col-xs-1 text-right'>周一</th>
                    <th class='col-md-1 col-sm-1 col-xs-1 text-right'>周二</th>
                    <th class='col-md-1 col-sm-1 col-xs-1 text-right'>周三</th>
                    <th class='col-md-1 col-sm-1 col-xs-1 text-center'>周四</th>
                    <th class='col-md-1 col-sm-1 col-xs-1 text-center'>周五</th>
                    <th class='col-md-1 col-sm-1 col-xs-1 text-center'>周六</th>
                </tr>
            </table>
            <table class='table table-bordered'>
                {%for hour in range(24)%}
                    <tr>
                        <td class='col-md-2 col-sm-2 col-xs-2 text-center'>{{hour}}:00-{{hour}}:50</td>
                        {%for day in range(7)%}
                        <td {% if '%s-%s'|format(day,hour) in worktime_list%}class='col-md-1 col-sm-1 col-xs-1 selected'{%else%}class='col-md-1 col-sm-1 col-xs-1 rest'{%endif%} id={{day}}-{{hour}}></td>
                        {%endfor%}
                    </tr>
                {%endfor%}
             
            </table>
            <div class='form-group text-right'>
                <button class='btn btn-default' type='button' id='submit'>提交</button>
                </div>
            </div>
        {%endif%}
    </div>

</div>
{%endblock main%}