{%extends 'base.html' %}
{%block mytitle%}More Teachers{%endblock mytitle%}

{%block page_content%}
<div class='page-header'>
    <h1>Choose a teacher</h1>
</div>
<div class='col-sm-12 col-md-12'>
    {%for row in teachers%}
    <div class='row'>
        {%for teacher in row%}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img {% if teacher.image %}src="{{url_for('static',filename='media/'+teacher.image)}}" {%else%} src="{{url_for('static',filename='img/noimage.jpg')}}"{%endif%}>
              <div class="caption">
                <h3>{{teacher.name}}</h3>
                <p>{{teacher.teacher_profile.first().comments}}</p>
                <p><a href="{{url_for('main.more_info',username=teacher.username)}}" class="btn btn-default" role="button">More information</a> <a href="{{url_for('visitor.trial',username=teacher.username)}}" class="btn btn-primary" role="button">Book a trial</a></p>
              </div>
            </div>
          </div>
        {%endfor%}
    </div>
    {%endfor%}
</div>
{%endblock page_content%}